@{
    ViewBag.Title = "历史列表";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">历史列表<span class="mt8 pull-right caret caretup"></span></div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-hover" id="historyList"></table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Resources/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Resources/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/javascript">
        function drawTable(id) {
            var that = this;

            that.Init = function () {
                var url = '@Url.Content("~/main/GetHistoryList")';
                $(id).bootstrapTable({
                    url: url,         //请求后台的URL（*）
                    method: 'post', //请求方式（*）
                    totalField: 'records',
                    cache: false,
                    pagination: true,
                    sidePagination: "server",
                    pageNumber: 1,
                    pageSize: 10,
                    queryParams: that.queryParams,
                    columns: [{
                        field: 'Subject',
                        title: '标题',
                        width: '50%',
                        formatter: function (v, d, i) {
                            var url = '@Url.Content("~/main/detail?rid=")' + d.RequestID + '&pn=' + d.K2ProcessName;
                            return '<a href="' + url + '">' + v + '</a>';
                        }
                    }, {
                        field: 'Applicant',
                        align: 'center',
                        title: '申请人',
                        width: '30%'
                    }, {
                        field: 'SubmitDate',
                        align:'center',
                        title: '申请时间',
                        width:'20%'
                    }]
                });
            }

            //得到查询的参数
            that.queryParams = function (params) {
                return {
                    rows: params.limit,
                    page: this.pageNumber,
                    queryJson: ''
                };
            };
            that.Init();
            return that;
        };

        var table = new drawTable('#historyList');

    </script>
}