@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>登录</title>
    <link href="~/resources/plugins/amazeui/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/resources/css/wap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header data-am-widget="header" class="am-header am-header-default my-header">
            <div class="am-header-left am-header-nav">
                <a href="javascript:void(0)" id="btnBack">
                    <i class="am-header-icon am-icon-chevron-left"></i>
                </a>
            </div>
            <h1 class="am-header-title">
                <a href="javascript:void(0)">用户登录</a>
            </h1>
            <div class="am-header-right am-header-nav">
                <a href="/">
                    <i class="am-header-icon  am-icon-home"></i>
                </a>
            </div>
        </header>
        <div class="cart-panel">
            <form class="am-form" id="form1">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-user" style="color:#329cd9"></i>
                    <input type="text" value="admin@admin.com" class="am-form-field  my-radius" placeholder="邮箱" id="eid" autocomplete="off" data-msg="请输入邮箱" required />
                </div>
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-lock" style="color:#329cd9"></i>
                    <input type="password" class="am-form-field  my-radius" placeholder="密码" id="pwd" autocomplete="off" data-msg="请输入密码" required maxlength="15" minlength="5" value="111111" />
                </div>
                <div class="am-checkbox">
                    <label>
                        <input type="checkbox" id="remember" value="1" checked="checked" /> 记住密码
                    </label>
                </div>
                <p class="am-text-center"><button type="button" class="am-btn am-btn-danger am-radius am-btn-block" id="btnLogin">立即登录</button></p>
            </form>
        </div>
    </div>
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="myModalLoding">
        <div class="am-modal-dialog">
            <div class="am-modal-hd" id="">正在载入...</div>
            <div class="am-modal-bd">
                <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="myModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示</div>
            <div class="am-modal-bd" id="myModalBody">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
    <script src="~/resources/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/resources/plugins/amazeui/js/amazeui.min.js"></script>
    <script src="~/resources/scripts/common.js"></script>
    <script type="text/javascript">
        //登录验证
        function login() {
            var validator = $('#form1').data('amui.validator');
            var valid = validator.isFormValid();
            if (!valid) return;

            var url = '@Url.Content("~/login/checkLogin")';
            var actionUrl = '@ViewBag.RedirectURL';
            var skipUrl = actionUrl || '@Url.Content("~/user")';
            var data = $(document.body).getFormData();
            $.myAjax(url, data, function (data) {
                var flag = data.Type <= 1;
                if (flag) {
                    window.location.href = skipUrl;
                }
                else {
                    $.alertMsg({ msg: data.Msg });
                }
            });
        }

        $(function () {
            var $form = $('#form1');

            $form.validator({
                onValid: function (obj) {
                    hideMsg(obj.field);
                },
                onInValid: function (obj) {
                    createMsg(obj.field);
                }
            });

            function createMsg(field) {
                var id = (field.id || field.name) + '_msg';
                var $this = $(field);

                var offset = $this.offset();
                var msg = $this.data('msg') || validator.getValidationMessage($this.data('validity'));

                var $tooltip = $('#' + id);
                if ($tooltip.length > 0) {
                    $tooltip.show();
                }
                else {
                    $tooltip = $('<div class="vld-tooltip" id="' + id + '"></div>');
                    $tooltip.appendTo(document.body);
                    $tooltip.text(msg).show().css({
                        left: offset.left + 10,
                        top: offset.top + $this.outerHeight() + 10
                    });
                }
            }

            function hideMsg(field) {
                var id = (field.id || field.name) + '_msg';
                $('#' + id).hide();
            }

            $('#btnLogin').click(function () {
                login();
            });

            $('#btnBack').click(function () {
                history.go(-1);
            });

            $('#remember').click(function () {
                var flag = $(this).prop('checked');
                var v = flag ? '1' : '0';
                $(this).val(v);
            });
        });
    </script>
</body>
</html>