<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="EprocessApiURL" value="/npages/api/PasswordVerify.ashx"/>
    
    <add key="CorpId" value="wx765426a69afb3a05" />
    <add key="AppSecret" value="5jgztAR9XHhMLD0ijE9NRKbambCi9bSWaAJcOU0VyKc" />
    <add key="AgentId" value="1000003"/>
    <add key="Domain" value="http://epm-qa.myxjp.com"/>
    <add key="VirtualPath" value="/wechat"/>
  </appSettings>
  <connectionStrings>
    <add name="connectString" connectionString="server=ITSSGSGWSP01417.jnj.com;database=SmartBox;uid=eprocesssa;pwd=Welcome123;Max Pool Size = 512;Min Pool Size=5;Persist Security Info=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="BPM" connectionString="server=ITSSGSGWSP01417.jnj.com;database=BPM;uid=eprocesssa;pwd=Welcome123;Max Pool Size = 512;Min Pool Size=5;Persist Security Info=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="sqllite" connectionString="server=ITSSGSGWSP01417.jnj.com;database=BPM;uid=eprocesssa;pwd=Welcome123;Max Pool Size = 512;Min Pool Size=5;Persist Security Info=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
