
@{
    ViewBag.Title = "Contract";
}

<div id="tabbar-with-contact" class="mui-control-content">
    <div class="title">这是div模式选项卡中的第3个子页面，该页面展示一个通讯录示例.</div>
    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
        <li class="mui-table-view-cell">
            <div class="mui-slider-cell">
                <div class="oa-contact-cell mui-table">
                    <div class="oa-contact-avatar mui-table-cell">
                        <img src="~/Resources/images/60x60.gif">
                    </div>
                    <div class="oa-contact-content mui-table-cell">
                        <div class="mui-clearfix">
                            <h4 class="oa-contact-name">叶文洁</h4>
                            <span class="oa-contact-position mui-h6">董事长</span>
                        </div>
                        <p class="oa-contact-email mui-h6">
                            yewenjie@sina.com
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li class="mui-table-view-cell">
            <div class="mui-slider-cell">
                <div class="oa-contact-cell mui-table">
                    <div class="oa-contact-avatar mui-table-cell">
                        <img src="~/Resources/images/60x60.gif">
                    </div>
                    <div class="oa-contact-content mui-table-cell">
                        <div class="mui-clearfix">
                            <h4 class="oa-contact-name">艾AA</h4>
                            <span class="oa-contact-position mui-h6">总经理</span>
                        </div>
                        <p class="oa-contact-email mui-h6">
                            aaa@163.com
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li class="mui-table-view-cell">
            <div class="mui-slider-cell">
                <div class="oa-contact-cell mui-table">
                    <div class="oa-contact-avatar mui-table-cell">
                        <img src="~/Resources/images/60x60.gif">
                    </div>
                    <div class="oa-contact-content mui-table-cell">
                        <div class="mui-clearfix">
                            <h4 class="oa-contact-name">罗辑</h4>
                            <span class="oa-contact-position mui-h6">员工</span>
                        </div>
                        <p class="oa-contact-email mui-h6">
                            luoji@126.com
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li class="mui-table-view-cell">
            <div class="mui-slider-cell">
                <div class="oa-contact-cell mui-table">
                    <div class="oa-contact-avatar mui-table-cell">
                        <img src="~/Resources/images/60x60.gif">
                    </div>
                    <div class="oa-contact-content mui-table-cell">
                        <div class="mui-clearfix">
                            <h4 class="oa-contact-name">云天明</h4>
                            <span class="oa-contact-position mui-h6">员工</span>
                        </div>
                        <p class="oa-contact-email mui-h6">
                            ytm@163.com
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li class="mui-table-view-cell">
            <div class="mui-slider-cell">
                <div class="oa-contact-cell mui-table">
                    <div class="oa-contact-avatar mui-table-cell">
                        <img src="~/Resources/images/60x60.gif">
                    </div>
                    <div class="oa-contact-content mui-table-cell">
                        <div class="mui-clearfix">
                            <h4 class="oa-contact-name">史强</h4>
                            <span class="oa-contact-position mui-h6">员工</span>
                        </div>
                        <p class="oa-contact-email mui-h6">
                            shiqiang@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

