@{
    ViewBag.Title = "Msg";
}

<div id="tabbar" class="mui-control-content mui-active">
    <div class="title">这是div模式选项卡中的第1个子页面.</div>
    <div class="title">
        何谓div模式的选项卡？
        其实就是通过DIV模拟一个独立页面，通过DIV的显示、隐藏模拟不同页面的切换，典型的SPA模式；
    </div>
    <div class="title">
        这种模式适合简单业务系统，因为每个选项卡内容要写在一个DIV中，
        若逻辑复杂，会导致当前页面DOM结构繁杂，造成webview响应缓慢，甚至崩溃；
        因此若系统较复杂，需要下拉刷新等操作，推荐使用webview模式的选项卡；
    </div>
</div>

