@using ZFC.Shop.Entity
@{
    ViewBag.Title = "摄影作品";
    ProductQueryEntity query = ViewBag.QueryModel;
}
<div class="am-cf">
    <ul class="am-nav am-nav-pills am-nav-justify">
        <li class="am-dropdown" data-am-dropdown="">
            <a class="am-dropdown-toggle" href="javascript:;">
                地区 <span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
                <li><a href="#">天河区</a></li>
                <li><a href="#">越秀区</a></li>
                <li><a href="#">荔湾区</a></li>
                <li><a href="#">海珠区</a></li>
            </ul>
        </li>
        <li class="am-dropdown" data-am-dropdown="">
            <a class="am-dropdown-toggle" href="javascript:;">
                商家分类 <span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
                <li><a href="#">分类1</a></li>
                <li><a href="#">分类2</a></li>
            </ul>
        </li>
        <li class="am-dropdown" data-am-dropdown="">
            <a class="am-dropdown-toggle" href="javascript:;">
                默认排序 <span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
                <li><a href="#">默认</a></li>
                <li><a href="#">名称</a></li>
                <li><a href="#">价格</a></li>
                <li><a href="#">上架时间</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="my-search-title-panel" id="productList"></div>

@section scripts{
    <script type="text/javascript">
        layui.use(['flow'], function () {
            var $ = layui.jquery, flow = layui.flow;
            flow.load({
                elem: '#productList',
                isLazyimg: true,
                done: function (page, next) {
                    $.myAjax('/product/getProductList', { PageIndex: page, VendorId: '@query.VendorId' }, function (res) {
                        next(getProductDetailHtml(res.Data), page < res.PageCount);
                    });
                }
            });

            function getProductDetailHtml(data) {
                var html = [];
                layui.each(data, function (index, item) {
                    html.push('<div class="withdrawals-panel">');
                    html.push('<div class="groupby-img-panle"><a href="#"><img lay-src="' + item.ProductPicURL + '" class="am-img-responsive"></a></div>');
                    html.push('<div class="groupby-info-panle">');
                    html.push('<h3><a href="#">' + item.Product.Name + '</a></h3>');
                    html.push('<p>价格: <span class="am-text-success">' + item.Product.Price + '</span> </p>');
                    html.push('<p>描述: ' + item.Product.ShortDescription + '</p>');
                    html.push('</div>');
                    html.push('</div>');
                });
                return html.join('');
            }
        });
    </script>
}


