@model dynamic
@{
    IEnumerable<dynamic> info = Model.Logs;
}

<table class="table table-condensed table-bordered">
    <tr>
        <th class="wh30p">时间</th>
        <th class="wh40p">执行者</th>
        <th class="wh30p">操作</th>
    </tr>
    @if (info != null)
    {
        foreach (var item in info)
        {
            <tr>
                <td>@item.ActionTimestamp.ToString("yy/MM/dd HH:mm:ss")</td>
                <td>@item.ActualActorName</td>
                <td>@item.Action</td>
            </tr>
        }
    }
</table>

