body {
    font-size: 12px;
}

.pt3 {
    padding-top: 3px;
}

.mt3 {
    margin-top: 3px;
}

.mt8 {
    margin-top: 8px;
}

.clear {
    clear: both;
}

.mytitle {
    padding: 10px 5px;
}

.table .vam {
    vertical-align: middle;
}

.wh10p {
    width: 10%;
}

.wh20p {
    width: 20%;
}

.wh25p {
    width: 25%;
}

.wh30p {
    width: 30%;
}

.wh33p {
    width: 33%;
}

.wh34p {
    width: 34%;
}

.wh40p {
    width: 40%;
}

.wh50p {
    width: 50%;
}

.wh60p {
    width: 60%;
}

.wh70p {
    width: 70%;
}

.wh80p {
    width: 80%;
}

.wh90p {
    width: 90%;
}

.wh100p {
    width: 100%;
}
