
@{
    ViewBag.Title = "购物车";
    ViewBag.SiteTitle = "购物车";
}

<div class="am-cf cart-panel">
    <div class="cart-list-panel">
        <ul class="am-avg-sm-1 cart-panel-ul">
            <li>
                <div class="imgpanel"><a href="#"><img src="~/Resources/images/img3.jpg" class="am-img-responsive"></a></div>
                <div class="infopanel">
                    <h3><a href="#">450ml柔顺丰盈护发素正品</a></h3>
                    <p>品牌：乔治卡罗尔</p>
                    <p>价格：<span class="red2 bold">78.00</span> 元  X <input class="am-input-sm txt-qty" type="number" value="1"></p>
                    <p>积分：<span class="red2 bold">78.00</span></p>
                    <p><span class="am-fr"><a class="am-badge am-badge-danger am-round">删除</a></span>库存：<span class="red2 bold">100</span> 件</p>
                </div>
            </li>
            <li>
                <div class="imgpanel"><a href="#"><img src="~/Resources/images/img3.jpg" class="am-img-responsive"></a></div>
                <div class="infopanel">
                    <h3><a href="#">450ml柔顺丰盈护发素正品</a></h3>
                    <p>品牌：乔治卡罗尔</p>
                    <p>价格：<span class="red2 bold">78.00</span> 元  X <input class="am-input-sm txt-qty" type="number" value="1"></p>
                    <p>积分：<span class="red2 bold">78.00</span></p>
                    <p><span class="am-fr"><a class="am-badge am-badge-danger am-round">删除</a></span>库存：<span class="red2 bold">100</span> 件</p>
                </div>
            </li>
            <li>
                <div class="imgpanel"><a href="#"><img src="~/Resources/images/img3.jpg" class="am-img-responsive"></a></div>
                <div class="infopanel">
                    <h3><a href="#">450ml柔顺丰盈护发素正品</a></h3>
                    <p>品牌：乔治卡罗尔</p>
                    <p>价格：<span class="red2 bold">78.00</span> 元  X <input class="am-input-sm txt-qty" type="number" value="1"></p>
                    <p>积分：<span class="red2 bold">78.00</span></p>
                    <p><span class="am-fr"><a class="am-badge am-badge-danger am-round">删除</a></span>库存：<span class="red2 bold">100</span> 件</p>
                </div>
            </li>
            <li>
                <div class="imgpanel"><a href="#"><img src="~/Resources/images/img3.jpg" class="am-img-responsive"></a></div>
                <div class="infopanel">
                    <h3><a href="#">450ml柔顺丰盈护发素正品</a></h3>
                    <p>品牌：乔治卡罗尔</p>
                    <p>价格：<span class="red2 bold">78.00</span> 元  X <input class="am-input-sm txt-qty" type="number" value="1"></p>
                    <p>积分：<span class="red2 bold">78.00</span></p>
                    <p><span class="am-fr"><a class="am-badge am-badge-danger am-round">删除</a></span>库存：<span class="red2 bold">100</span> 件</p>
                </div>
            </li>
            <li>
                <div class="imgpanel"><a href="#"><img src="~/Resources/images/img3.jpg" class="am-img-responsive"></a></div>
                <div class="infopanel">
                    <h3><a href="#">450ml柔顺丰盈护发素正品</a></h3>
                    <p>品牌：乔治卡罗尔</p>
                    <p>价格：<span class="red2 bold">78.00</span> 元  X <input class="am-input-sm txt-qty" type="number" value="1"></p>
                    <p>积分：<span class="red2 bold">78.00</span></p>
                    <p><span class="am-fr"><a class="am-badge am-badge-danger am-round">删除</a></span>库存：<span class="red2 bold">100</span> 件</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="cart_foot">
    共选中<span class="red2 bold" id="total_good">{$total}</span>种商品；总价：<span class="red2 bold" id="total_amount">{$price}</span>元；总积分：<span class="red2 bold" id="total_jifen">{$jifen}</span>
</div>

<div class="cart-tool">
    <a class="am-btn am-btn-sm am-btn-success" href="#">
        <i class="am-icon-chevron-left"></i>
        返回
    </a>
    <a class="am-btn am-btn-sm am-btn-warning" href="#">
        <i class="am-icon-shopping-cart"></i>
        结账
    </a>
</div>

